
#  Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

1. Create a Jupyter Notebook

2. Insert code and markdown cells

3. Share your notebook through GitHub

#### List popular languages for Data Science

- Phyton
- R
- SQL
- Julia
- Java

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include
1. Pandas
2. NumPy
3. TensorFlow
4. Matplotlib

| Data Science Tools | 
| -------------|
| Jupyter Notebooks | 
| RStudio| 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
2+3

5

In [4]:
5*4

20

In [7]:
7-8

-1

In [8]:
print("This a simple arithmetic expression to mutiply then add integers")

This a simple arithmetic expression to mutiply then add integers

In [9]:
(3*4)+5

17

In [10]:
print("This will convert 200 minutes to hours by diving by 60")

This will convert 200 minutes to hours by diving by 60

In [11]:
200//60

3

## Author
Karina Oportus